name: CI
on: pull_request

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.14"]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version: ${{ matrix.python }}
      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
      - name: Install tox-uv
        run: uv tool install tox --with tox-uv
      - name: Run tox
        # Run tox using the version of Python in `PATH`
        run: tox -e py
