name: CI
on: pull_request

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.14"]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python }}
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      - name: Install tox-uv
        run: uv tool install tox --with tox-uv
      - name: Run tox
        # Run tox using the version of Python in `PATH`
        run: tox -e py
